<!-- create-event.component.html

<h2>Create Event</h2>

<form (ngSubmit)="createEvent()">
  <div>
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" [(ngModel)]="eventDto.title" required>
  </div>
  <div>
    <label for="description">Description:</label>
    <textarea id="description" name="description" [(ngModel)]="eventDto.description" required></textarea>
  </div>
  <div>
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" [(ngModel)]="eventDto.date" required>
  </div>
  <div>
    <label for="time">Time:</label>
    <input type="time" id="time" name="time" [(ngModel)]="time" required>
  </div>
  <div>
    <label for="location">Location:</label>
    <input type="text" id="location" name="location" [(ngModel)]="eventDto.location" required>
  </div>
  <button type="submit">Create</button>
</form> -->
